{% extends "layout.html" %}

{% block navbar %}
    <!--Navbar for all pages-->
    <nav class="navbar-fluid navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link disabled" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
{% endblock %}

{% block body %}
    <div class="container center">
        <p class="center">No book with that link!</p>
    </div>

    <div class="container center">
            <a href="{{ url_for('search_book') }}">
                <button type="button" class="btn btn-primary btn-block">back</button> 
            </a>
    </div>
{% endblock %}