{% extends "layout.html" %}

{% block navbar %}
    <!--Navbar for all pages-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link disabled" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
{% endblock %}

{% block body %}

    <div class="container center">
        <form action="{{ url_for('search_book') }}">
            <div class="form-group">
                <label for="searchQuery">Search books from database...</label>
                <input type="text" class="form-control" name="search" placeholder="ISBN/title/author">
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Search</button>
            </div>

        </form>
    </div>
{% endblock %}